# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# Компиляция Java / Maven / Gradle
target/
out/
build/
.gradle/
*.class

# Логи и системные файлы
*.log
.DS_Store
Thumbs.db

# Локальные настройки
*.swp
*.swo

# Кэш и временные файлы
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries/
.idea/**/httpRequests/
.idea/caches/
.idea/libraries/
.idea/gradle.xml
.idea/modules.xml

# Другие IDE
.vscode/
*.sublime-workspace
*.sublime-project

# Артефакты сборки
*.jar
*.war
*.ear

# Maven Wrapper
.mvn/wrapper/maven-wrapper.jar

# Android (если используется)
*.apk
*.dex
*.ap_
*.jks
*.keystore
local.properties

# User-specific files
*.env
